body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: reD;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    background-color: rgba(255, 242, 0, 0);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgb(0, 0, 0);
}

h1 {
    text-align: center;
    color: whitesmoke;
}

.input-container {
    display: flex;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #514caf;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: red;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    position: relative;
    transition: background-color 0.3s ease;
}

li:hover {
    background-color: #f0f0f0;
}

.completed {
    text-decoration: line-through;
    color: #888;
}

.delete-button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #f44336;
    cursor: pointer;
    transition: color 0.3s ease;
}

.delete-button:hover {
    color: #d32f2f;
}
